* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

img {
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 40px;
}

.common-btn {
  background-color: #1D4ED8;
  padding: 20px 40px;
  font-weight: bold;
  color: #FFFF;
  border-radius: 10px;
  border: none;
}

/* nav section start  */
.nav-section {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  align-items: center;
  margin-bottom: 20px;
}


.nav-section ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 12px;

}

ul a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
}

/* nav section end  */
/* header section start  */

.header-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('./assets/banner.jpg');
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #FFFF;
}

.header-section div {
  display: grid;
  gap: 20px;
  text-align: center;

}

.header-section div h1 {
  font-size: 80px;
}

.header-section div p {
  font-size: 22px;
  opacity: 90%;
}

.header-section button {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

/* header section end */
/* meet the speaker section start */

.meet-card {
  border: 0.5px solid #5757;
  border-radius: 10px;
}

.meet-card img {
  border-radius: 10px 10px 0 0;
}

.meet-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.meet-root h2 {
  margin-top: 60px;
  text-align: center;
  font-size: 56px;
  margin-bottom: 40px;
}

.meet-section h5 {
  font-size: 12px;
  color: #2563EB;
}

.meet-section h3 {
  font-size: 20px;
  color: #0D1B2A;
}

.meet-section h4 {
  color: #5757;
  font-size: 14px;
  padding-bottom: 25px;
}

.meet-card h5,
.meet-card h4,
.meet-card h3 {
  padding-top: 20px;
  padding-left: 20px;
}

/* meet the speaker section end */
/* secure section start */
.secure-root .secure-title {
  text-align: center;
}

.secure-title h2 {
  font-size: 48px;
  padding: 10px;
}

.secure-title p {
  font-size: 16px;
  color: #575757;
}

.card-root {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
  padding: 30px;


}

.card {
  padding: 30px;
  padding-left: 40px;
  margin-right: 40px;
  border: 1px solid #575757;
  border-radius: 5%;
}

.card2 {
  background-color: #0D1B2A;

}

.card2 h2 {
  color: #fff;
}

.card2 .p-pro {
  color: #93C5FD;
  border-radius: 5px solid red;
}

.card2 li {
  color: #FFFFFF;
  opacity: 80%;

}

.card-root ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  color: #333333;


}

.card li::marker {
  color: #2563EB;
  font-size: 14;
  font-weight: bold;
}

.card hr {
  color: #E5E7EB;
  width: 300px;
  margin: 30px 0;
}

.card h2 {
  font-size: 44px;
  font-weight: bold;
}

.card p {
  font-size: 13px;
  font-weight: 600;
  color: #888888;
}

.card-btn {
  display: block;
  margin: 0 auto;
  padding: 20px 100px;
  background-color: #fff;
  color: #1D4ED8;
  border: 1px solid #1D4ED8;
  margin-top: 20px;
  font-size: 14px;
}

.card-btn2 {
  background-color: #2563EB;
  color: #fff;
}

.card-btn3 {
  border: 1px solid #575757;
  color: #575757;
}


/* secure section end */